<div class="container">
    <div class="header">
        <div class="header-left">
            <button mat-icon-button class="btn-back" (click)="Navegar('/inicio')" matTooltip="Regresar">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2>Administración de Clientes</h2>
        </div>
        <button mat-raised-button color="primary" (click)="eventoMostrarPopupRegistrar()">
            Nuevo Cliente
        </button>
    </div>
    <div class="table-wrapper">
        <div *ngIf="Loading" class="loading-overlay">
            <div class="loading-box">
                <div class="spinner"></div>
                <span>Cargando clientes...</span>
            </div>
        </div>
        <table mat-table [dataSource]="ListaClientes" class="mat-elevation-z2">
            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Nombre}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Dni">
                <th mat-header-cell *matHeaderCellDef> Dni </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Dni}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Telefono">
                <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Telefono}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Correo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Distrito">
                <th mat-header-cell *matHeaderCellDef> Distrito </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Distrito}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Ciudad">
                <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Ciudad}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Latitud">
                <th mat-header-cell *matHeaderCellDef> Latitud </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Latitud}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Longitud">
                <th mat-header-cell *matHeaderCellDef> Longitud </th>
                <td mat-cell *matCellDef="let element">
                    {{element.Longitud}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="eventoMostrarPopupEditar(element)" mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="eventoEliminar(element)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- PAGINADOR BONITO -->
        <div class="paginador">
            <button mat-stroked-button (click)="OnchangedPage(PaginaActual - 1)" [disabled]="PaginaActual === 1">
                <mat-icon>chevron_left</mat-icon>
                Anterior
            </button>
            <div class="page-info">
                Página <strong>{{PaginaActual}}</strong>
                de
                <strong>{{TotalPaginas}}</strong>
            </div>
            <button mat-stroked-button (click)="OnchangedPage(PaginaActual + 1)"
                [disabled]="PaginaActual === TotalPaginas">

                Siguiente
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>